/***********
* GLOBAL   *
***********/

@import './variables.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: 'Lato';
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: $color-white;
}

body {
  margin: 0;
}

.page {
  background: $color-background;
  height: calc(100vh - 60px);
  padding: 58px 0 0;
  overflow-y: scroll;
  &.noFooter {
    height: 100vh;
  }
}

.bodyContent {
  padding: 0 20px;
}

h1 {
  font-size: $font-heading;
  font-weight: $fontweight-bold;
}

h2 {
  font-size: $font-subheading;
  font-weight: $fontweight-bold;
}

p {
  font-size: $font-regular;
  font-weight: $fontweight-regular;
  margin: 5px 0 10px;
}

input, textarea, select {
  height: 38px;
  padding-left: 8px;
  margin-bottom: 25px;
  border: none;
  background: $color-white;
  border-radius: 2px;
  width: 100%;
}

textarea {
  min-height: 80px;
  resize: vertical;
}

label {
  font-size: $font-subtitle;
  color: $color-white;
  font-weight: $fontweight-bold;
  margin-bottom: 10px;
  display: block;
}

button {
  border: none;
  border-radius: 2px;
  color: $color-white;
  text-align: center;
  font-size: $font-subtitle;
  width: 100%;
  padding: 8px;
    background: $color-primary;
  &.secondary {
    background: $color-red;
  }
}

a {
  color: $color-primary;
}
