@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

/*********************
* COLOURS/VARIABLES  *
*********************/
$color-primary: #00CCBD;
$color-secondary: #1F355A;
$color-background: #1D2C4A;


$color-black: #1b1b1b;
$color-darkgray: #707070;
$color-light-gray: #E2E3E8;
$color-white: #fff;
$color-dark-blue: #1D2C4A;
$color-blue: #1F355A;
$color-light-blue: #00CCBD;
$color-red: #FC6F85;


$fontweight-ultrabold: 800;
$fontweight-bold: 600;
$fontweight-regular: 400;
$fontweight-light: 300;

$font-reee: 40px;
$font-heading: 24px;
$font-subheading: 20px;
$font-cardtitle: 18px;
$font-subtitle: 16px;
$font-button: 15px;
$font-regular: 14px;
$font-footer: 12px;

/***********
* FONTS    *
***********/
// For local loading. It's better to use CDN

// @font-face{
//   font-family: 'Sniglet';
//   src: url("~assets/fonts/Sniglet-ExtraBold.ttf");
//   font-weight: bold;
// }

/***********
* MIXINS   *
***********/
// max-width-1
@mixin max-width-1() {
  max-width: 1920px;
}

// max-width-2
@mixin max-width-2() {
  max-width: 1360px;
}

// col-12: Used to define column size in a 12 column layout
@mixin col-12($prop) {
  width: 100% / 12 * $prop;
}

// col-4: Used to define column size in a 4 column layout
@mixin col-4($prop) {
  width: 100% / 4 * $prop;
}

@mixin shadow() {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
